{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/eslint-recommended", "next"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "semi": ["warn", "always"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "no-console": ["warn"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"]
  }
}
