@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  body {
    @apply bg-nord6 text-nord0 dark:bg-nord0 dark:text-nord6;
  }
}

@layer utilities {
  .link {
    @apply text-nord10 hover:underline dark:text-nord8;
  }

  .icon svg {
    @apply fill-current stroke-current;
  }
}
