@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  body {
    @apply bg-dracula-light text-dracula-darker dark:bg-dracula-darker dark:text-dracula-light;
  }
}

@layer utilities {
  .link {
    @apply text-dracula-light-600 hover:underline dark:text-dracula-blue-400;
  }

  .icon svg {
    @apply fill-current stroke-current;
  }
}
