---
---

<div class="mt-2 mb-5 text-center">
  <a href="https://github.com/Mikkel-T/matematik" class="link" target="_blank"
    >Open Source</a
  >
  projekt lavet af
  <a class="link" href="https://mikkel-t.com" target="_blank">Mikkel Tønder</a>
  <br />
  <a href="/information" class="link">Information</a>
</div>
