---
---

<div class="mt-2 text-center">
  <a href="https://github.com/Mikkel-T/matematik" class="link">Open Source</a>
  projekt lavet af
  <a class="link" href="https://mikkel-t.com">Mikkel Tønder</a>
  <br />
  <a href="/information" class="link">Information</a>
</div>
