<div class="mb-5 mt-2 text-center print:hidden">
  <a
    href="https://github.com/Mikkel-T/matematik"
    class="link"
    target="_blank"
    rel="noreferrer"
    >Open Source
  </a>
  projekt lavet af
  <a class="link" href="https://mikkel-t.com" target="_blank" rel="noreferrer"
    >Mikkel Tønder
  </a>
</div>
<div class="hidden text-center print:block">
  Lavet af Mikkel Tønder - <a href="https://mikkel-t.com">mikkel-t.com</a>
</div>
