---
interface Props {
  title: string;
  SEOtitle?: string;
  description: string;
  keywords: string;
  list?: boolean;
}

import "katex/dist/katex.min.css";
import BaseHead from "@components/layout/BaseHead.astro";
import BaseFooter from "@components/layout/BaseFooter.astro";
import BaseHeader from "@components/layout/BaseHeader.astro";
const { title, description, keywords, SEOtitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SEOtitle ?? title}
      description={description}
      keywords={keywords}
    />
  </head>
  <body>
    <header class="mb-2 print:hidden">
      <BaseHeader />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <BaseFooter />
    </footer>
  </body>
</html>
