---
import BaseLayout from 'layout:BaseLayout';

const { content } = Astro.props;
const data = Astro.fetchContent('../pages/**/*.md');
const pathname = Astro.request.url.pathname;
const dirPath = `${pathname}${pathname.endsWith('/') ? '' : '/'}`;
const pages = data
  .filter((i) => i.url.startsWith(dirPath))
  .filter((i) => i.url.replace(dirPath, '').split('/').length === 1)
  .filter((i) => !i.hideCard);
---

<BaseLayout {content}>
  <div
    class="sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 grid grid-cols-1 gap-4 p-3 m-auto"
  >
    {pages.map((i) => (
      <a
        class="hover:scale-105 dark:bg-nord3 bg-nord4 rounded-xl dark:border-nord10 border-nord8 flex items-center justify-center h-20 px-2 text-center transform border-2 transition-transform duration-500"
        href={i.url}
      >
        {i.title}
      </a>
    ))}
  </div>
</BaseLayout>
