---
import BaseLayout from "layout:BaseLayout";

const { content } = Astro.props;
---

<BaseLayout {content}>
  <div
    class="mx-auto mt-2 w-3/5 prose prose-a:dark:text-nord8 prose-a:text-nord10 prose-a:no-underline dark:prose-invert hover:prose-a:underline"
  >
    <slot></slot>
  </div>
</BaseLayout>
