---
import BaseLayout from "layout:BaseLayout";

const { content } = Astro.props;
---

<BaseLayout {content}>
  <div
    class="prose mx-auto mt-2 w-3/5 dark:prose-invert prose-a:text-dracula-blue-700 prose-a:no-underline hover:prose-a:underline prose-a:dark:text-dracula-blue-400"
  >
    <slot />
  </div>
</BaseLayout>
