input {
  width: 100%;
  background-color: rgba(114, 114, 114, 0.158) !important;
  border: none !important;
  color: white !important;
  height: 38px;
  padding: 6px 10px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
label {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.6;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 15px;
}

body {
  background-color: #161616;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

a {
  color: #1983ff;
  text-decoration: none;
}

button {
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
}
