.wrapper {
  margin: auto;
  text-align: center;
}

@media (min-width: 750px) {
  .numForm {
    width: 30%;
    margin: auto;
  }
}

@media (max-width: 750px) {
  .numForm {
    width: 80%;
    margin: auto;
  }
}

.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}
.frac > span {
  display: block;
  padding: 0.1em;
}
.frac span.bottom {
  border-top: thin solid #bdbdbd;
}
.frac span.symbol {
  display: none;
}

.svar {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.copyButton {
  color: white;
  margin-top: 10px;
}

.title {
  text-align: center;
  font-size: 50px;
  margin: 0;
  font-weight: 300;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: auto;
  padding: 10px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  height: 75px;
  color: white;
  text-decoration: none;
  background-color: #3c3c3c;
  transition: all 500ms;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(2px) scale(1.01);
  color: white;
}

.footer {
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

.errorBtn {
  background-color: #ff6042;
  border: none;
  color: white;
}

.triangle {
  fill: transparent;
  stroke: white;
  stroke-width: 3;
}

.degreeText {
  stroke-width: 1;
}

.disclaimer {
  width: 80%;
  margin: auto;
}

.topbar {
  height: 20px;
}
